*{
    /* اینجا به کل المنت های صفحه برای اضافه نشدن به سایز باکس هام بخاطر پدینگ و مارجین روی حالت بوردر باکس میذارم  */
    box-sizing: border-box;
  /* پدینگ و مارجین پیش فرض رو ازش گرفتم و اصطلاحا ریست کردم سی اس اس شو  */
    padding: 0;
    margin: 0;
}

body { 
    /* ی فونت برای بادی انتخاب کردم ک بقیه ازش ارث ببرن و اگه سیستمی اون فونت رو نداشته باشه از پیش فرض های بعدی استفاده کنه   */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
/* ی عکس با ادرس بهش دادم و سایزشو رو کاور دادم ک کل صفحه رو بپوشونه و رپیتشو غیرفعال کردم و حداقل ارتفاع رو گذاشتم کل ارتفاع صفحه دید کاربر  */
    background-image: url(../img/green-leaf-texture-leaf-texture-background.jpg);
    background-size:cover ;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.container {
    /* میخواستم عرض کانتینرم 90% صفحه باشه */
    width: 90%;
    /* background-color: red; */
    /* مارجین چپ و راست اتو دادم ک مثل بازوی اهرم از کنار هل بدن بیان وسط */
    /* و مارجین بالا و پایین ده پیکسلی دادم بهش برای زیبایی کار  */
    margin: 10px auto;
}

.form {
/* ویدس فرمم 400 پیکسل بیشتر نیاز نبود  */
    width: 400px;
 /* تصویر زمینه سفید دادم و از حالت خاص ار جی بی ای استفاده کردم ک بتونم کم حالت کنم برای دیدن تصویر زیریش  */
    background-color: rgba(255, 255, 255, 0.8);
/* فونت سایز 1.5 رم انتخاب کردم ک هرچی فونت سایز بادی بود 1.5 برابر بیشتر باشه */
    font-size: 1.5rem;
    /* فونت وید فرمم رو بولد کردم چون عنوان هاش مهمن */
    font-weight: bold;
/* دیسپلی فلکس دادم چون خواستم المنت های زیرش قابلیت فلکس داشته باشن و ستونی زیر هم باشن  */
    display: flex;
    flex-direction: column;
    /* تکس الاین رو سنتر گذاشتم چون جهت اصلی صفحه راست ب چپ و من اینجا میخوام تکس هام وسط چین باشن */
    text-align: center;
/* پدینگ 20پیکسل گذاشتم ک محتوای فرمم از اطراف فاصله بگیرن و چون دسیپلی فلکس هست فلکس شیرینک المنت ها کار میکنه و ب نسبت هم همه رو یکسان عرضشون رو کم میکنه */
    padding: 20px;
    /* مارجین اتو دادم ک نسبت به کانتینر بیاد وسط */
    margin: auto;
    /* بوردر ردیوس 40پیکسل دادم ک اطراف فرمم انحنا داشته باشه */
    border-radius: 40px;
/* ی بورد دو پیکسلی سفید با درجه روشنی دو دهم دادم برای ظریف کاری و زیبایی بیشتر  */
    border: 2px rgba(255, 255, 255, 0.2) solid;
    
}

.form label {
    /* اینجا چون لیبل های فرمم میخواستم راست چین باشن ویرایش کردم */
    text-align: right;
}

.form input {
    /* برای داخل اینپوت هم پدینگ دادم از اطراف 5 پیکسل محتواش فاصله بگیره */
    padding: 5px;
    /* سایز محتوا اینپوتم رو 25 پیکسل مناسب دیدم */
    font-size: 25px;
    /* انحنای بوردر اینپوت رو تنظیم کردم */
    border-radius: 40px;
    /* متن داخل اینپوت رو وسط چین گذاشتم حس کردم قشنگ تره */
    text-align: center;
    /* اینجا هم مثل بالا اینپوت هارو برای زیبایی بیشتر رنگ زمینه رو با حالت کمرنگ و بوردر سفید با کم حالتی یک دهم گذاشتم برای زیبایی  */
    background-color: rgba(255, 255, 255,0.6);
    border: 2px rgba(255, 255, 255, 0.1) solid;
}

.margin {
    /* مارجین تاپ برای فاصله المنت از المنت بالاییش گذاشتم ک فاصله داشته باشن */
    margin-top: 10px;
}
.btn_blue {
    /* برای اومدن علامت دست رو دکمه  */
    cursor:pointer;
    /* بکگراند ابی برای دکمه  */
    background-color:#3742fa;
    /* رنگ متن دکمه رو سفید گذاشتم  */
    color:rgb(255, 255, 255);
    /* انحنای دکمه باتن رو تنظیم کردم  */
    border-radius: 25px;
    /* سایزش برای دکمه مناسب بود  */
    font-size: 25px;
    /* فاصله متن دکمه از بوردر دکمه رو  تنظیم کردم  */
    padding: 6px;
    /* بورد دکمه رو سفید کم حالت گذاشتم برای زیبایی  */
    border: 1px rgba(255, 255, 255, 0.2) solid;
}

.form a {
    /* لینک رو اندرلاینش رو حذف کردم چون تو پیش فرض استایلش بود و رنگشم ابی خاص گذاشتم */
    text-decoration: none;
    color:rgb(33, 0, 223);
}
/* کلاس هدر درست کردم برای سایز و رنگ کاستوم  */
.header {
    color:rgb(33, 0, 223);
    font-size: 40px;
    
}
/* کلاس الرت درست کردم برای رنگ پیغام های خطا برنامم  */
.alert-red {
    /* گفتم از بالا با المنت ده پیکسل فاصله بگیره  */
    padding-top: 10px;
    /* سایز فونت رو سیزده پیکسل دادم  */
    font-size: 13px;
/* رنگ قرمز برای متن الرتم انتخاب کردم  */
    color: rgb(213, 20, 3)
}