*{
    /* اینجا به کل المنت های صفحه برای اضافه نشدن به سایز باکس هام بخاطر پدینگ و مارجین روی حالت بوردر باکس میذارم  */
    box-sizing: border-box;
}

body { 
    /* ی فونت برای بادی انتخاب کردم ک بقیه ازش ارث ببرن و اگه سیستمی اون فونت رو نداشته باشه از پیش فرض های بعدی استفاده کنه   */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    /* از تصویر زمینه پترنی استفاده کردم برای زمینه */
    background-image: url(../img/repeated-square.png);
}
.container {
    /* میخواستم عرض کانتینرم 90% صفحه باشه */
    width: 90%;
    /* background-color: red; */
    /* مارجین چپ و راست اتو دادم ک مثل بازوی اهرم از کنار هل بدن بیان وسط */
    margin-left: auto;
    margin-right: auto;
    /* مارجین تاپ دادم ک از بالای صفحه فاصله داشته باشه */
    margin-top: 10px;
}

.form {
/* ویدس فرمم 350 پیکسل بیشتر نیاز نبود  */
    width: 350px;
/* بکگراند فرمم سفید گذاشتم ک با رنگ بادی خودشو بیشتر نشون بده */
    background-color: #ffffff;
    
/* فونت سایز 1.5 رم انتخاب کردم ک هرچی فونت سایز بادی بود 1.5 برابر بیشتر باشه */
    font-size: 1.5rem;
    /* فونت وید فرمم رو بولد کردم چون عنوان هاش مهمن */
    font-weight: bold;
/* دیسپلی فلکس دادم چون خواستم المنت های زیرش قابلیت فلکس داشته باشن و ستونی زیر هم باشن  */
    display: flex;
    flex-direction: column;
    /* تکس الاین رو سنتر گذاشتم چون جهت اصلی صفحه راست ب چپ و من اینجا میخوام تکس هام وسط چین باشن */
    text-align: center;
/* پدینگ 40پیکسل گذاشتم ک محتوای فرمم از اطراف فاصله بگیرن و چون دسیپلی فلکس هست فلکس شیرینک المنت ها کار میکنه و ب نسبت هم همه رو یکسان عرضشون رو کم میکنه */
    padding: 40px;
    /* مارجین اتو دادم ک نسبت به کانتینر بیاد وسط */
    margin: auto;
    /* بوردر ردیوس 40پیکسل دادم ک اطراف فرمم انحنا داشته باشه */
    border-radius: 40px;
    /* بوردر فرم دادم 8پیکسل برای ضخامت و مدل سالید و رنگ سبز  */
    border: 8px rgb(103, 250, 59) solid;
    
}

.form label {
    /* اینجا چون لیبل های فرمم میخواستم راست چین باشن ویرایش کردم */
    text-align: right;
}

.form input {
    /* برای داخل اینپوت هم پدینگ دادم از اطراف 5 پیکسل محتواش فاصله بگیره */
    padding: 5px;
    /* سایز محتوا اینپوتم رو 25 پیکسل مناسب دیدم */
    font-size: 25px;
    /* انحنای بوردر اینپوت رو تنظیم کردم */
    border-radius: 40px;
    /* متن داخل اینپوت رو وسط چین گذاشتم حس کردم قشنگ تره */
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 2px rgb(170, 243, 136) solid;
}

.margin {
    /* مارجین تاپ برای فاصله المنت از المنت بالاییش گذاشتم ک فاصله داشته باشن */
    margin-top: 20px;
}
.btn_green {
    /* برای اومدن علامت دست رو دکمه  */
    cursor:pointer;
    background-color: rgb(13, 199, 13);
    color: rgb(255, 255, 255);
    border-radius: 25px;
    font-size: 25px;
    padding: 8px;
    border: 1px rgb(38, 212, 14) solid;
}

.form a {
    /* لینک رو اندرلاینش رو حذف کردم چون تو پیش فرض استایلش بود و رنگشم اب روشن تر گذاشتم */
    text-decoration: none;
    color: rgb(44, 44, 216);
}
/* کلاس هدر درست کردم برای سایز و رنگ کاستوم  */
.header {
    color:rgb(42, 231, 42);
    font-size: 40px;
    
}
/* کلاس الرت درست کردم برای رنگ پیغام های خطا برنامم  */
.alert-red {
    padding-top: 10px;
    font-size: 13px;
    color: red;
}